/* Noto Sans KR 글꼴을 import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: 'Noto Sans KR', sans-serif, 'inter';
}

button,
input,
textarea,
select {
  font: inherit; /* 폰트 스타일 상속 */
  color: inherit;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  appearance: none; /* 브라우저 기본 스타일 제거 */
}

ul,
ol {
  list-style: none; /* 리스트 스타일 제거 */
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: inherit; /* 부모 색상 상속 */
}

img,
video {
  max-width: 100%;
  height: auto; /* 반응형 크기 */
  display: block;
}

table {
  border-collapse: collapse; /* 테이블 경계선 겹치기 제거 */
  border-spacing: 0;
}

blockquote,
q {
  quotes: none; /* 인용 부호 제거 */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

button {
  cursor: pointer; /* 버튼 기본 커서 설정 */
  background: transparent; /* 기본 배경 제거 */
}

pre[class*='language-'] {
  border-radius: 0.6rem;
}

@media screen and (max-width: 1600px) {
  :root {
    font-size: 9.5px;
  }
}

@media screen and (max-width: 1400px) {
  :root {
    font-size: 9px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    font-size: 8.5px;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 7.5px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 7px;
  }
}

@media screen and (max-width: 400px) {
  :root {
    font-size: 6px;
  }
}

@media screen and (max-width: 350px) {
  :root {
    font-size: 5.5px;
  }
}

@media screen and (max-width: 300px) {
  :root {
    font-size: 5px;
  }
}
